
<center style ='padding-top: 75px'>
	<div class = 'whitebackdrop'><br>
		<h1 class = 'styleme3' style='font-size:50px;'>Thanks!</h1><br><br>
		<p class ='styleme3' style = 'width: 700px; font-size:18px'> Hey, this is Vyasa Palffy, host of the one month challenge. Please check your inbox for a confirmation email in a couple minutes. While you wait (and/or hit refresh in your inbox 15 times), invite your friends to join the challenge. Inviting friends and family can give you the drive (via competitions or bets :) ) to complete your goals. </p><br><br>
		<table>
			<tr>
				<td><a href='http://facebook.com/accentconcierge'><img style='padding-right:10px;' src = 'http://i.imgur.com/8Xar3F0.png'></a> </td>
				<td><a href='https://twitter.com/home?status=I%20signed%20up%20for%20the%20CopyHour%20free%20trial%20w/%20%40DJohanson.%20Want%20to%20be%20my%20accountability%20buddy?%20Join%20me%20here:%20http://copyhour.com/free-trial'><img style= 'padding-left:10px;'src = 'http://i.imgur.com/8heguwP.png'></a></td>
			</tr>
		</table>
		<br><br>
		<table>
			<tr>
				<td><img style = 'height: 150px; border-radius: 75px' src ='https://pbs.twimg.com/profile_images/619987861547302912/JVtqXdF7.jpg'></td>
				<td><p style='font-size:25px; padding-left:10px;'>Vyasa Palffy</p><p>   Your Host - Learn why I started the challenge.</p></td>
			</tr>
		</table>
<br>
	</div>

</center>